html {
    height: 100%;
    font-size: 20px;
    }
    body {
        background-color: #ccc;
        padding: 50px;
        text-align: center;
    }
    
    
body  {
    background-image:url(image/abstract-black-white-smoke-black-background-fire-design_55716-1289.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


h1 {

color: cornsilk;
}