html {
    height: 100%;
}

body  {
    background-image:url(image/background\ chess.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


h1 {
    text-align: center;
    color: beige;
}

p {
    text-align: center;
    color: beige;
}



   
footer {
    background-color: rgba(1, 71, 77, 0.349);
    text-align: center;
    color: white;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
    
    
